*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0C0B0B;
  color: #FFFFFF;
 


}
.App{
height: 100vh;
overflow: hidden;
}
header{
  display: flex;
  gap: 50%;
  height: 90px;
  align-items: center;
  margin: 20px 70px;
  z-index: 999;
}
header h1{
  font-family: 'Inspiration' ;
  color: #43C176;
  font-weight: 100;
  font-size: 56px;z-index: 999;
} 
nav ul{
  font-family: 'Inria Serif';
  font-size: 26px;
  display: flex;
  gap: 100px;
}
nav ul li{
  list-style-type: none;z-index: 999;
}
nav ul li a{
  text-decoration: none;
}
nav ul li.active a{
 border-bottom: 4px solid #FFFFFF;
}
nav ul li a:hover{
  color: #43C176;
  cursor: pointer;
}
.acceuil,.ListeSkins{
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
 
}
.acceuil img{
  position: relative;
  z-index: 989;
  background-color: transparent;
  transform: rotate(-40deg);
  animation: changesword 5s ;
  animation-fill-mode: forwards;
 
}
#titleB{
  position: absolute;
  z-index: 1;
  font-family: 'Inknut Antiqua';
  font-size: 300px;
   text-align: center;

  font-weight: 400;
 
  animation: titleB 5s ;
 
  animation-fill-mode: forwards;
}
#titleB span{
  color: #9696962c;
  margin: 0;
}
#titleB span:nth-child(2){
  position: relative;
  animation: colorB 5s ;
   
  animation-fill-mode: forwards;
}
@keyframes changesword {
  0% {
    right: max(0vh,0px);top: max(0vh,0px);
    scale: 0.5;
  }
 
 

  100% {
    right: max(50vh,300px);top: max(50vh,400px);
    scale: 4; 
  }
}
@keyframes titleB {
  0% {
    font-size: 300px;
   
    text-align: center;
  }
  100% {
    top: -10vh;
    font-size: 300px;
    width: 200px;
  }
}
@keyframes colorB {
  0% {
     
  }
  100% {
    left: max(15vh,140px);
    top: max(-5vh,-50px);
    color: #43C176;
  }
}
.Skins{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.bg{
  background-image:url("../public/bg.png");
}
.slider img{
  width: 751px;
  height: 434px;
}
.slider .infoSkin{
  display: none;
}
.slider .active{
  display: block;
}
.slider{
  position: relative;
  width: 751px;
  height: 434px;
  
   
 
}
.btn-slide{
/* background-color: #43C176;*/
    width: 30px;
  cursor: pointer;
}
.btn-slide .next,.prev{
  width: 40px;
  background: transparent;
}
.ListeSkins{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.ListeSkins .next{
  position: absolute;
  transform: translateY(max(-1vh,-10px));
  left:  95%;
}

.ListeSkins .prev{
  position: absolute;
  transform: translateY(max(-1vh,-10px));
  left:  0%;
}
.desc{
  background: transparent;
  font-family: 'Inknut Antiqua';
  font-size: 25px;
  width: 600px;
}
.slider p{
  font-family: 'Inknut Antiqua';
  font-size: 22px;
}