*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0C0B0B;
  color: #FFFFFF;
 


}
.App{
height: 100vh;
overflow: hidden;
}
header{
  display: flex;
  gap: 50%;
  height: 90px;
  align-items: center;
  margin: 20px 70px;
  z-index: 999;
}
header h1{
  font-family: 'Inspiration' ;
  color: #43C176;
  font-weight: 100;
  font-size: 56px;
} 
nav ul{
  font-family: 'Inria Serif';
  font-size: 26px;
  display: flex;
  gap: 100px;
}
nav ul li{
  list-style-type: none;
}
nav ul li:hover{
  color: #43C176;
  cursor: pointer;
}
.acceuil{
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
 
}
.acceuil img{
  position: relative;
  z-index: 989;
  background-color: transparent;
  transform: rotate(-40deg);
  animation: changesword 5s ;
  animation-fill-mode: forwards;
 
}
#titleB{
  position: absolute;
  z-index: 1;
  font-family: 'Inknut Antiqua','regular';
  font-size: 300px;
   text-align: center;

  font-weight: 300;
 
  animation: titleB 5s ;
 
  animation-fill-mode: forwards;
}
#titleB span{
  color: #9696962c;
}
#titleB span:second-child{
  animation: colorB 5s ;
  color: #43C176;
  animation-fill-mode: forwards;
}
@keyframes changesword {
  0% {
    right: max(0vh,0px);top: max(0vh,0px);
    scale: 0.5;
  }
 
 

  100% {
    right: max(50vh,300px);top: max(50vh,400px);
    scale: 4; 
  }
}
@keyframes titleB {
  0% {
    font-size: 300px;
    text-align: center;
  }
  100% {
    font-size: 300px;
    width: 100px;
  }
}
@keyframes colorB {
  0% {
    color: #43C176;
  }
  100% {
    color: #43C176;
  }
}